$georgia-font: "georgia", sans-serif;
$tahoma-font: "tahoma", sans-serif;

$esFrom: 0px;
$esTo: 575px;
$smFrom: 576px;
$smTo: 767px;
$mdFrom: 768px;
$mdTo: 991px;
$lgFrom: 992px;
$lgTo: 1199px;
$xlFrom: 1200px;